
.myimg{
    border: 1px solid black;
   
    width: 200px;
    height: 50px;
}
#imgT{
    height: 200px;
}

a{
    color: black;
}
.background{
    background-color: #181b42;
}
#bg{
    background-color: #181b42;
}
#cv-template{
    display: none;
}
